html {
    background-image: url("未命名.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
p {
    position: absolute;
    font-family:helvetica;
    font-size: 36pt;
    right: 5%;
    bottom: 1%;
}
#fang {
    width: 470px;
    height: 600px;
    position: absolute;
    top: 10%;
    left: 33%;
    background: white;
    z-index: 1;
}
img {
    z-index: 2;
    position: absolute;
    top: 27%;
    left: 38%;
    width: 300px;
}