html {
    background-image: url("9.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#mo {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
}
p {
    position: absolute;
    top: 5%;
    left: 60%;
    border: 1px solid black;
    line-height: 1.5;
    font-weight: normal;
}
h1 {
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 24pt;
}
#a {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50px;
    width: 400px;
}